.listing {
  background: rgb(233, 233, 233);
  height: 100%;
}
.listing-content {
  padding: 50px;
  max-width: 900px;
  margin-left: 30%;

  color: rgb(77, 76, 76);
}
.sidebar-button {
  display: none;
}
.search-bar input {
  border-style: none;
  border-radius: 10px;
  padding: 8px;
  font-weight: bold;
  font-size: 1rem;
  height: 50px;
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgb(213, 212, 212);
  outline: none;
  color: rgb(77, 76, 76);
}
.list-modal {
  background: white;
  max-width: 100%;
  height: 200px;
  padding: 20px 3%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgb(213, 212, 212);
}
.list-modal button {
  background: blue;
  font-size: 0.8rem;
  height: 30px;
  width: 100px;
  margin: 10px auto;
}
.list {
  display: flex;
}
.list-image img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}
.list-content {
  width: 100%;

  margin-left: 50px;
}
.list-content h2 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
}
.list-content h4 {
  font-size: 1rem;
  margin: 5px 0;
  color: rgb(181, 181, 181);
}
.list-data {
  display: flex;
  width: 100%;
}
.list-data h4 {
  color: rgb(77, 76, 76);
  font-size: 0.8rem;
  width: 50%;
  display: flex;
}
.list-data i {
  font-size: 1.3rem;
  margin-top: 10px;
  margin-right: 10px;
  color: rgb(181, 181, 181);
}
.list-data h5 {
  margin: 0;
  line-height: 15px;
}
.details {
  display: none;
}
.logout {
  display: block;
  width: 30%;
}

@media screen and (max-width: 750px) {
  .listing {
    max-width: 700px;
    margin: auto;
    height: 100%;
  }
  .list-content {
    display: none;
  }
  .sidebar-button {
    display: block;
  }
  .sidebar-button button {
    width: 30px;
    background: rgb(233, 233, 233);
  }
  .list-header {
    display: flex;
    justify-content: space-between;
  }
  .search-bar input {
    width: 100%;
  }
  .list-modal {
    max-width: 50%;
    height: 250px;
  }
  .hideSidebar {
    display: none;
  }
  .listing-content {
    max-width: 650px;
    padding: 20px;
    margin: auto;
    position: relative;
  }
  .showSidebar {
    width: 50%;
    position: absolute;
    top: 60px;
    left: 0;
    background: white;
    opacity: 0.7;
  }
  .profile-image {
    background: blue;
    color: white;
    height: 25%;
    width: 20%;
    margin-top: 10px;

    border-radius: 3px;
  }
  .profile {
    margin: 10px auto;
  }
  .profile-image h1 {
    text-align: center;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
  .profile-name h2 {
    margin: 0;
    margin-top: 8px;
    color: rgb(77, 76, 76);
    font-size: 1rem;
  }
  .showSidebar button {
    background: white;
    color: rgb(77, 76, 76);
  }
  .details {
    display: block;
  }
  .form {
    display: block;
  }
}
