.login {
  max-width: 400px;
  height: 400px;
  margin: 100px auto;

  border-radius: 10px;
  background-color: white;
}
.login-form {
  display: grid;
  width: 300px;
  padding: 60px 20px;
  margin: auto;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.input-container {
  display: flex;
  box-shadow: 2px 5px 2px 2px rgb(213, 212, 212);
  color: blue;
  width: 300px;
  margin-bottom: 40px;
  height: 50px;
  padding: 5px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  font-size: 1.2em;
}

.input-field {
  border: none;
  height: 50px;
  outline: none;
  font-size: 1em;
}

button {
  height: 50px;
  border: none;
  width: 320px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}
body {
  background-color: rgb(190, 188, 188);
}
